<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
	<link type="text/css" rel="stylesheet" href="../static/css/styleprincipal.css"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet" media="screen"/>
	<link rel="stylesheet" href="../static/css/bootstrap-responsive.css">
	<script type="text/javascript" src="../static//js/bootstrap.js"></script>
	<link rel="shortcut icon" href="../static/images/favicon.ico"/>


</head>
<body alink="center"><!--INICIA EL CUERPO DE LA PAGINA-->
	<div id="banner" class="container-fluid">
		
		<div class="container-fluid">
			<div class="row" id ="cabecera">
				<div class="col-md-12">
					<div class="col-md-4" id="elemento">
					 <p>3602 - SERVICIO SECA S.A. DE C.V.
                     ADMINISTRADOR GENERAL DEL SISTEMA</p>
					</div>
					<div class="col-md-4" id="elemento">
					
					</div>
					<div class="col-md-4" id="col4">
						<div class="col-md-12" id="elemento"><p id ="salir">
						<strong><a href="{{ url_for('home') }}">inicio</a> | <a href="{{ url_for('logout') }}">Salir</a></strong>
						</p>
						</div>
						<div class="col-md-12" id="elemento">
						<p>
						<img src="../static/images/supramax.jpg"/ id="logo">
						</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row" id="menu">
				<div class="col-md-12"id="elemento">
					<nav id="navmenu">
						<ul class="tabs">
						<li class="active" style="cursor:pointer;"><div align="center"><strong><a href="#">Administracion</a></strong></div></li>
						<li style="cursor:pointer;"><div align="center"><strong><a href="#">Reportes</a></strong></div></li>
						<li style="cursor:pointer;"><div align="center"><strong><a href="#">Bitacora</a></strong></div></li>
						<li style="cursor:pointer;"><div align="center"><strong><a href="#">Estado</a></strong></div></li>	
						</ul>					 
					</nav>
				</div>
			</div>
		</div>


		<div class="container-fluid">
			<div class="row" id ="contenido">
				<div class="col-md-12">
					<div class="col-md-9" id="elemento">
						<div class='myIframe' > 
							<iframe name="myFrame" frameborder='0'></iframe> 
						</div>
					
						</div>
					<div class="col-md-3" id="elemento1">
						<p id = "fecha">
							<strong>
						<script type="text/javascript">
							var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
							var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
							var f=new Date(); document.write(diasSemana[f.getDay()] + " " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
							</script>
							</strong>
					</p>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
				</p>
				</div>
			</div>
		</div>
		</div>
	</div>
</body><!--CIERRE DEL CUERPO DE LA PAGINA-->
</html>