<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link type="text/css" rel="stylesheet" href="../static/bootstrap-3.1.1-dist/css/style2.css"/>
  	<link type="text/css" rel="stylesheet" href="../static/bootstrap-3.1.1-dist/css/bootstrap.css"/>
	
	<title>Princdcsipal</title>
</head>
<body>
	<div class="container-fluid" id="principal"><!--inicio del div principal de pa página-->
		<div class="row" id="form"><!--inicio del contenedor-->
			<section class="col-md-12" id="uno"><!--tamaño del contenedor-->
					<p>lklk</p>
			</section><!--cierre de col uno-->
		</div><!--cierre del contenedor-->
	</div><!--cierre de div principal-->
</body>
</html>