<!DOCTYPE>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Login</title>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
<link type="text/css" rel="stylesheet" href="../static/css/stylelog.css"/>
<link href="../static/css/bootstrap.css" rel="stylesheet" media="screen"/>
<script type="text/javascript" src="../static/js/bootstrap.js"></script>
<link rel="shortcut icon" href="../static/favicon.ico"/>
<style> 
 html {
    height:100%;
    width:100%;
    }
body{
    background:url('../static/images/fondo.jpg')
    no-repeat center center;
    background-size:100% 100%;
    }
    </style>

    
   </script>
</head>
<body>
<div class="cuerpo">
  		<form name="form" class="form" action="{{ url_for('login') }}" method="post">
		    <div class="cabecera">
    			<h1>Login </h1>
    				<span>Dispensarios ICT Consulting</span>
    		</div>
			<div class="contenido">
				<input name="usuario" type="text" class="input usuario" value="Usuario" onfocus="this.value=''"/>
    			<input name="password" type="password" class="input password" value="Password" onfocus="this.value=''"/>
                
    		</div>
    		<div class="pie">
    			<input type="submit" name="submit" value="Login" class="button" />
		    </div>
		</form>
</div>
</body>
</html>