<!DOCTYPE>
<html>
<head>
    <title>login</title>
  <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.1.1-dist/css/style.css"/>
  <link href="../static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="../static/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
  <link rel="shortcut icon" href="../static/favicon.ico"/>
   
</head>
<body>
    <div class="container-fluid" id="principal">
        
        <section class="row" id="form">
            <section class="col-md-12" id="cabecera" >
                    <img src="../static/logoict.png" border="0" height="60" width="200"></img>
            </section>
        </section>

        <section class="row" id="form">
            <section class="col-md-12" id="uno">
                <section class="col-md-4" id="col1">                  
                </section>
                <section class="col-md-4" id="col2">

                        <article id= "articulo1";>
                    <h1 id ="encabezado" style="text-aling:center"> Ingreso del sistema </h1>
                        </article>
                        <article id ="articulo2">
                    <form   action="{{ url_for('login') }}" method="post">
                    <label style="text-align:center">Usuario:</label> <input type="input" size="25" maxlength="50" name="usuario" id="usuario"><br>
                    <label style="text-align:center">Password:</label> <input type="password" size="25" maxlength="50" name="password" id="password"><br>
                    <input type="submit" name="entrar" value="Entrar">
                    </form>
                        </article>

                </section>
                <section class="col-md-4 id="col3>
                </section>
            </section>
        </section>
        <section class="row" id="form">
            <section class="col-md-12" id="pie_pag">
                <p id="pie">ICT CONSULTING</p>
            </section>
        </section>    
    </div> 
</body>
</html>
