<!DOCTYPE>
<html>
<head>
    <title>Servicios</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.1.1-dist/css/style2.css"/>
  <link href="../static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="../static/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
  
</head>
<body>
	<div class="container-fluid" id="principal">
    <h1>welcome</h1>
        <section class="row" id="form">
            <section clas="col-md-12" id ="uno">
            	<a href='/login/'><p>Salir</p></a>
            </section>
      	</section>
      	<section class="row" id ="form">
      		<section class="col-md-12" id="dos">
      			<p><h4>Ingresa una peticion</h4></p><br>
      			<input type="input" size="25" maxlength="50" name="usuario" id="usuario">
        		<input type="submit" name="entrar" value="Enviar">
      		</section>
      	</section>
      	<section class="row" id="form">
      		<section class="col-md-12" id="tres">
           <table border="1px" class=".datagrid">
            <thead>
                <tr>
                   <th colspan ="3">CONSULTAR DATOS</th>
                </tr>
                <tr>
                    <th id="titulo">id</th>
                    <th id="titulo">Nom Usuario</th>
                </tr>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{usuario[0]}}</td> <td>{{ usuario[1]}}</td>
                    </tr>
                {% endfor %}
            </thead>
            <tbody>
            
            </tbody>
        </table>
      		</section>
      </section>
     </div>
</body>
</html>
