<!DOCTYPE>
<html>
<head>
    <title>Servicios</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link type="text/css" rel="stylesheet" href="../static/bootstrap-3.1.1-dist/css/style2.css"/>
  <link href="../static/bootstrap-3.1.1-dist/css/bootstrap.css" rel="stylesheet" media="screen">
  <script type="text/javascript" src="../static/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
  
</head>
<body>
	<div class="container-fluid" id="principal">
        <section class="row" id="form">
            <section clas="col-md-12" id ="uno">
            	<a href="">Salir</a>
            </section>
      	</section>
      	<section class="row" id ="form">
      		<section class="col-md-12" id="dos">
      			<p><h4>Ingresa una peticion</h4></p><br>
      			<input type="input" size="25" maxlength="50" name="usuario" id="usuario">
        		<input type="submit" name="entrar" value="Enviar">
      		</section>
      	</section>
      	<section class="row" id="form">
      		<section class="col-md-12" id="tres">
      			
      		</section>
      </section>
     </div>
</body>
</html>



<section class="col-md-12" id="cabecera" >
      			<section class="col-md-12">
                        <br>
 		                 
      			</section>
      		</section>