<!DOCTYPE html>
<html lang="es"> 
<head>
	<meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
     <link href="../static/css/bootstrap-responsive.css" rel="stylesheet">
     <link href="../static/css/datetimepicker.css" rel="stylesheet" media="screen">
     <link href="../static/css/bootstrap.css" rel="stylesheet">
     <link rel="shortcut icon" href="../static/images/favicon.ico"/>
     <script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
     <script type="text/javascript" src="../static/js/bootstrap.js"></script>
     <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="../static/js/datetimepicker.js"></script>
     <script type="text/javascript" src="../static/js/widgetcalendario.js"></script>
     <script type="text/javascript" src="../static/jquery/jquery.kernotek.js"></script>
</head>
<body><!--INICIA EL CUERPO DE LA PAGINA-->
	 <section class="container-fluid" id="principal">
      <section class="row-fluid">
        <section class="col-md-12" id="cabecera">
          <article class="col-md-6">
            <p>3602 - SERVICIO SECA S.A. DE C.V.</p>
            <p>ADMINISTRADOR GENERAL DEL SISTEMA</p>
          </article>
          <div class="col-md-6  text-right">           
            <strong><a href="{{ url_for('home') }}" >inicio</a> | <a href="{{ url_for('logout') }}">Salir</a></strong>
            <figure>
              <img src="../static/images/supramax.jpg"/ class="img-responsive" alt="Responsive image" id="logo" >                          
            </figure>         
          </div> 
        </section>     
      </section>
      <section id="menu">
        <section class="row-fluid">
          <section class="col-md-12">
            <article class="tabbable">
              <ul class="nav nav-pills">
                <li><a href="#Administracion" data-toggle="tab">Administracion</a></li>
                <li><a href="#Reportes" data-toggle="tab">Reportes</a></li>
                <li><a href="#Estadodelsistema" data-toggle="tab">Estado del sistema</a></li>
                <li><a href="#Bitacora" data-toggle="tab">Bitacora</a></li>                      
              </ul>
            </article>
          </section>               
        </section>
      </section>
      <section id="contenido">
        <section class="row-fluid">
          <section class="col-md-12">
            <section class="col-md-9">
              <section class="tab-content">
                <article class="tab-pane active" id="Administracion"> 
                  <h3>te encuentras en apartado Administracion</h3>
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore quam eius eos obcaecati, repellendus animi dignissimos voluptates modi officia autem commodi sit ab laborum loremquae vero vitae velit nisi?
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum, quia dolore repellat magnam blanditiis ad eum minima repellendus ut itaque incidunt, hic assumenda aperiam sed amet aut. Hic blanditiis, dignissimos!
                  </p>
                </article>
                <article class="tab-pane" id="Reportes">
                  <article class="row-fluid">
                    <article class="col-md-12">
                      <h3>Consulta</h3>
                      <span>La consulta se realizará en el intervalo indicado</span>
                    </article>
                    <article class="col-md-12">
                      <article class="col-md-6" id="calendario1">
                        <label class="col-md-12 control-label ">Fecha inicio</label>
                        <article class="input-group date col-md-12 " data-date-format="dd/MM/yyyy    hh/ii:ss" id="cal">
                          <input name = "fechaInicio" id="fechaInicio" class=" Wcalendar form-control" size="16" type="text" value="" readonly>
                        </article>
                      </article>
                      <article class="col-md-6" id="calendario2">
                        <label class="col-md-12 control-label ">Fecha final</label>
                          <article class="input-group date col-md-12 " data-date-format="dd/MM/yyyy    hh:ii:ss" id="cal">
                            <input name = "fechaFin" id="fechaFin" class="Wcalendar form-control" size="16" type="text" value="" readonly >
                          </article>
                      </article>
                    </article>
                    <article class="col-md-12" id="calcular">
                      <input type="submit" class="btn btn-grup btn-primary "value="calcular" id="btncalcular"/>
                    </article>
                    <div class="container-fluid">
                      <table class="table table-condensed">
                        <thead>
                          <tr>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                            <td>campo1</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </article>
                </article>
                <article class="tab-pane" id="Estadodelsistema">      
                  <h3>te encuentras en apartado Estado del sistema</h3>
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus aliquid repellat architecto voluptatibus corporis a reiciendis cum cupiditate excepturi ab. Modi eaque ipsum iusto lorempariatur repudiandae necessitatibus autem dolorem ipsam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet nesciunt dolores laboriosam assumenda doloremque, nobis architecto eius, delectus amet consequuntur quia consectetur. Accusantium atque, harum nisi. Hic reiciendis vero excepturi.
                  </p>
                </article>
                <article class="tab-pane" id="Bitacora">    
                  <h3>te encuentras en apartado Bitacora</h3>
                  <p class="text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus autem ratione non quam, quibusdam, magni quod suscipit libero delectus commodi expedita temporibus quasi reiciendis.lorem Voluptates similique, distinctio aut voluptate veniam.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veniam rerum ea consectetur magni dolore illo expedita excepturi, laboriosam quidem quasi aliquid facilis et, alias nostrum, dolorum reprehenderit. Doloremque, ipsa?
                  </p>
                </article>
              </section>              
            </section>
            <section class="col-md-3 text-center" id="apContenido">
              <p id = "fecha">
                <strong>
                  <script type="text/javascript">
                    var meses = new Array ("Enero","Febrero","Marzo","Abril","Mayo","Junio","Julio","Agosto","Septiembre","Octubre","Noviembre","Diciembre");
                    var diasSemana = new Array("Domingo","Lunes","Martes","Miércoles","Jueves","Viernes","Sábado");
                    var f=new Date(); document.write(diasSemana[f.getDay()] + " " + f.getDate() + " de " + meses[f.getMonth()] + " de " + f.getFullYear());
                  </script>
                </strong>
              </p>
              <p class="text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dicta blanditiis totam repudiandae nihil. In perspiciatis quaerat libero culpa voluptatum dicta accusamus recusandae, necessitatibus autem, deleniti, excepturi fugit, dolorum beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, perspiciatis excepturi impedit accusamus sed quam, nisi placeat praesentium quod tempora id dolor nobis, odio quis voluptatem harum veniam similiquelorem  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa laudantium, ab totam voluptatibus incidunt distinctio tenetur qui quia velit, ducimus magni eligendi provident, pariatur fuga. Aperiam, sunt non. Reprehenderit, consequuntur!
              </p>
            </section>
          </section>  
        </section>
      </section>
     </section>
</body><!--CIERRE DEL CUERPO DE LA PAGINA-->
</html>